.button-primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.button-primary:hover {
  background-color: var(--button-primary-hover-bg);
  color: var(--button-primary-hover-color);
}

.button-secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-color);
}

.button-secondary:hover {
  background-color: var(--button-secondary-hover-bg);
  color: var(--button-secondary-hover-color);
}